<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ur.disorderapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home screen -->
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!-- Sugar Program Home screen -->
        <activity
            android:name=".SugarProgramActivity"
            android:label="@string/title_activity_sugar_program"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ur.disorderapp.MainActivity" />
        </activity>

        <!-- Sugar Program Self Assessment screen -->
        <activity
            android:name=".SelfAssessmentActivity"
            android:label="@string/title_activity_self_assessment"
            android:parentActivityName=".SugarProgramActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ur.disorderapp.SugarProgramActivity" />
        </activity>

        <!-- Login screen -->
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".PreSelfMonitorActivity"
            android:label="@string/title_activity_pre_self_monitor"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
